@media only screen and (max-width: 576px)
{
  .mobileRow {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 576px)
{
  .mobileCol {
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: auto;
    max-width: 100%;
  }
}