.logoFont {
  font-family: Exo, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.boxShadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.borderTop { border-top: 1px solid #e5e5e5; }
.borderBottom { border-bottom: 1px solid #e5e5e5; }

.col-centered {
  float: none;
  margin: 0 auto;
}

.footer {
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: #f5f5f5;
  font-size: 0.8rem;
}
.footerLink {  
  color: #5f6368;
}
.footerLink:hover {  
  color: #5f6368;
}

@media (min-width: 767px) {
  .navbarSearchForm {
    width: 50%;
  }
}